---
layout: default
title: Security - GitLab Trust Center
description: "At GitLab we are committed to Information Security. It is our mission to be the most transparent Security orgnization in the world."
extra_css:
  - security-trust.css
---

.content-container.security-trust
  .wrapper.container{ role: "main" }
    .row
      .col-md-12
        %h2.security-trust-title.text-center GitLab Trust Center
        .security-trust-blurb At GitLab we are committed to Information Security. It is our mission to be the most transparent Security orgnization in the world with a strong focus on leading security and privacy best practices, regulatory compliance and results.
    %hr.solid

    .row.security-trust-card-group
      .card.security-trust-card
        .card-body.security-trust-card-body
          %h4.card-title.security-trust-title Customer Self Serve Resources
          %p.card-text
            %ul.security-trust-list
              %li
                %a{ href: "https://about.gitlab.com/handbook/engineering/security/security-assurance/risk-field-security/customer-assurance-package.html" } Customer Assurance Package
              %li
                %a{ href: "https://about.gitlab.com/security/faq/" } Security FAQs
              %li
                %a{ href: "https://about.gitlab.com/blog/categories/security/" } Security Blogs
              %li 
                %a{ href: "https://docs.gitlab.com/ee/README.html" } GitLab Docs
             

    .row.security-trust-card-group
      .card.security-trust-card
        .card-body.security-trust-card-body
          %h4.card-title.security-trust-title Security
          %p.card-text
            %ul.security-trust-list
              %li
                %a{ href: "https://about.gitlab.com/handbook/engineering/security/" } GitLab Security Department Overview
              %li 
                %a{ href: "https://about.gitlab.com/handbook/security/" } GitLab Security Practices
              %li
                %a{ href: "https://about.gitlab.com/blog/2020/05/20/gitlab-instance-security-best-practices/" } GitLab instance: security best practices


      .card.security-trust-card
        .card-body.security-trust-card-body
          %h4.card-title.security-trust-title Security Compliance
          %p.card-text
            %ul.security-trust-list
              %li
                %a{ href: "https://about.gitlab.com/handbook/engineering/security/security-assurance/security-compliance/certifications.html" } GitLab Security Certifications
              %li 
                %a{ href: "https://about.gitlab.com/handbook/engineering/security/security-assurance/security-compliance/sec-controls.html" } GitLab Security Compliance Controls

      .card.security-trust-card
        .card-body.security-trust-card-body
          %h4.card-title.security-trust-title Privacy
          %p.card-text
            %ul.security-trust-list
              %li
                %a{ href: "https://about.gitlab.com/privacy/" } Privacy Policy
              %li 
                %a{ href: "https://about.gitlab.com/handbook/gdpr/" } Personal Data Requests
              %li 
                %a{ href: "https://about.gitlab.com/security/disclosure/" } Responsible Disclosure Policy
              %li 
                %a{ href: "https://about.gitlab.com/handbook/legal/privacy/" } GitLab Privacy Processes

      .card.security-trust-card
        .card-body.security-trust-card-body
          %h4.card-title.security-trust-title Products
          %p.card-text
            %ul.security-trust-list
              %li
                %a{ href: "https://about.gitlab.com/solutions/compliance/" } Manage Compliance with GitLab
              %li 
                %a{ href: "https://about.gitlab.com/handbook/marketing/strategic-marketing/dot-com-vs-self-managed/" } Key Differences Between GitLab.com and Self-Manage
              %li 
                %a{ href: "https://docs.gitlab.com/ee/README.html" } GitLab Docs

.wrapper
  .container.text-center
= image_tag "/images/risk-and-field-security/SOC_NonCPA.jpg",  style: "height: 100px; margin-bottom: 40px; margin-left: 18%;"
= image_tag "/images/risk-and-field-security/csa-blue.jpg",  style: "height: 105px; margin-bottom: 20px; margin-left: 10%;"
= image_tag "/images/risk-and-field-security/gdpr.jpg",  style: "height: 100px; margin-bottom: 20px; margin-left: 10%;"
= image_tag "/images/risk-and-field-security/vpat.jpg",  style: "height: 100px; margin-bottom: 20px; margin-left: 10%;"
%hr.solid
.wrapper
  .container.text-center
    .row
      .col-md-12
If you have questions or concerns, please email us at 
=mail_to "security@gitlab.com"
%p
For timely security release updates please subscribe to our
%a{ href: "https://about.gitlab.com/security-releases.xml" } security release RSS feed
